
.flex-center {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.flex-justify-center {
	justify-content:center;
}

.flex-column {
	flex-direction: column;
}

.chart-container {
	width: 100% !important;
	overflow-x: auto !important;
	overflow-y: hidden !important;
}

.c-pointer {
	cursor: pointer;
}

.contact {
	border-radius:50px;
	white-space: nowrap;
	border: none;
}

.more-link {
	color: #4caf50 !important;
}

.read-more, .post-title  {
	color: #4caf50 !important;
	font-size: 16px;
	text-decoration: none !important;
}

.footer-icons {
	text-decoration:none !important; 
	color:#303030;
}
